html {
  box-sizing: border-box;
  font-size: .52083vw
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 10px;
  margin: 0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

.App {
  background-color: #000;
  min-height: 100vh;
  text-align: center
}

/*  !*min-height: 100vh;*!*/
/*  !*align-items: center;*!*/
/*  !*justify-content: center;*!*/
/*  !*color: white;*!*/
main {
  background-color: #0d4d39;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%
}

.main-field, main {
  align-items: center;
  display: flex;
  flex-direction: column
}

.main-field {
  background-color: #187552;
  border: .02rem solid #000;
  border-radius: 10px;
  flex-wrap: nowrap;
  justify-content: start;
  padding: 2rem
}

.main-field p {
  margin: 0;
  padding: 0
}

.main-cards-place {
  background-color: #0d4d39;
  border: .02rem solid #000;
  border-radius: .15rem;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 3rem;
  padding: .9rem
}

.card, .main-cards-place {
  align-items: center;
  display: flex;
  flex-direction: column
}

.card {
  background-color: #fff;
  border-radius: .05rem;
  flex-wrap: wrap;
  height: 28.8rem;
  justify-content: space-between;
  margin: 2rem;
  width: 20.8rem
}

.card-bg {
  -webkit-animation: card-logo-spin 20s linear infinite;
  animation: card-logo-spin 20s linear infinite;
  height: 100%;
  width: 100%
}

@-webkit-keyframes card-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes card-logo-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

.nominal {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  font-weight: 900;
  height: 5rem;
  justify-content: center;
  width: 5rem
}

.nominal-top {
  align-self: start;
  border-top-left-radius: .05rem
}

.nominal-bottom {
  align-self: end;
  border-bottom-right-radius: .05rem;
  rotate: 180deg
}

.nominal .club {
  color: #000
}

.nominal .diamonds {
  color: red
}

.nominal .peak {
  color: #000
}

.nominal .hearts {
  color: red
}

.card-close {
  background-color: #000
}

.suit-image {
  height: 10rem;
  width: 10rem
}

.suit-image > div {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%
}

.suit-image .club {
  background-image: url(https://s-e-pashin.github.io/react-poker-public-1/static/media/club.svg)
}

.suit-image .diamonds {
  background-image: url(https://s-e-pashin.github.io/react-poker-public-1/static/media/diamond.e4da86684415762cf8b4.svg)
}

.suit-image .peak {
  background-image: url(https://s-e-pashin.github.io/react-poker-public-1/static/media/peak.2e92ca136514e9cfbf9f.svg)
}

.suit-image .hearts {
  background-image: url(https://s-e-pashin.github.io/react-poker-public-1/static/media/heart.a33c8a0f3c2f5faa7fd4.svg)
}

.playing-cards {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start
}

.player-field, .playing-cards {
  align-items: center;
  display: flex
}

.player-field {
  background-color: grey;
  border-radius: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: .25rem 0;
  margin-bottom: 25rem;

  padding: 2rem
}

.player-field-180deg {
  rotate: 180deg
}

.player-field-cards {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: .2rem 0
}

.player-field-control-panel {
  margin-top: 4rem;
  padding: 2rem;
  width: 80%
}

.player-field-button {
  background-color: #000;
  border-radius: 10px;
  color: red;
  font-size: 2rem;
  margin: .2rem 0;
  min-height: 2rem;
  min-width: 3.5rem;
  padding: 1.5rem 3rem
}

/*# sourceMappingURL=main.68aa9e95.css.map*/
